{% extends 'base.html' %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}<title>Login</title>{% endblock %}

{% block content %}
<div class="container">
<h1>Login</h1>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
<p style="color: red;">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<main class="container">
<div class ="grid"
<form method="POST" action="/login">
    <div>
        <label>Username:</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" required>
    </div>
</form>
</div>
<div class ="grid"
     <form method="POST" action="/login"
    <button type="submit">Login</button>
</form>
</div>
</main>
<p>Don't have an account? <a href="/register">Register here</a></p>
{% endblock %}